html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.zk-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.zk-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.zk-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.zk-table,.zk-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.zk-table-all{border:1px solid #ccc}
.zk-bordered tr,.zk-table-all tr{border-bottom:1px solid #ddd}.zk-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.zk-table-all tr:nth-child(odd){background-color:#fff}.zk-table-all tr:nth-child(even){background-color:#f1f1f1}
.zk-hoverable tbody tr:hover,.zk-ul.zk-hoverable li:hover{background-color:#ccc}.zk-centered tr th,.zk-centered tr td{text-align:center}
.zk-table td,.zk-table th,.zk-table-all td,.zk-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.zk-table th:first-child,.zk-table td:first-child,.zk-table-all th:first-child,.zk-table-all td:first-child{padding-left:16px}
.zk-btn,.zk-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.zk-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.zk-btn,.zk-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.zk-disabled,.zk-btn:disabled,.zk-button:disabled{cursor:not-allowed;opacity:0.3}.zk-disabled *,:disabled *{pointer-events:none}
.zk-btn.zk-disabled:hover,.zk-btn:disabled:hover{box-shadow:none}
.zk-badge,.zk-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.zk-badge{border-radius:50%}
.zk-ul{list-style-type:none;padding:0;margin:0}.zk-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.zk-ul li:last-child{border-bottom:none}
.zk-tooltip,.zk-display-container{position:relative}.zk-tooltip .zk-text{display:none}.zk-tooltip:hover .zk-text{display:inline-block}
.zk-ripple:active{opacity:0.5}.zk-ripple{transition:opacity 0s}
.zk-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.zk-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.zk-dropdown-click,.zk-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.zk-dropdown-hover:hover .zk-dropdown-content{display:block}
.zk-dropdown-hover:first-child,.zk-dropdown-click:hover{background-color:#ccc;color:#000}
.zk-dropdown-hover:hover > .zk-button:first-child,.zk-dropdown-click:hover > .zk-button:first-child{background-color:#ccc;color:#000}
.zk-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.zk-check,.zk-radio{width:24px;height:24px;position:relative;top:6px}
.zk-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.zk-bar-block .zk-dropdown-hover,.zk-bar-block .zk-dropdown-click{width:100%}
.zk-bar-block .zk-dropdown-hover .zk-dropdown-content,.zk-bar-block .zk-dropdown-click .zk-dropdown-content{min-width:100%}
.zk-bar-block .zk-dropdown-hover .zk-button,.zk-bar-block .zk-dropdown-click .zk-button{width:100%;text-align:left;padding:8px 16px}
.zk-main,#main{transition:margin-left .4s}
.zk-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.zk-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.zk-bar{width:100%;overflow:hidden}.zk-center .zk-bar{display:inline-block;width:auto}
.zk-bar .zk-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.zk-bar .zk-dropdown-hover,.zk-bar .zk-dropdown-click{position:static;float:left}
.zk-bar .zk-button{white-space:normal}
.zk-bar-block .zk-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.zk-bar-block.zk-center .zk-bar-item{text-align:center}.zk-block{display:block;width:100%}
.zk-responsive{display:block;overflow-x:auto}
.zk-container:after,.zk-container:before,.zk-panel:after,.zk-panel:before,.zk-row:after,.zk-row:before,.zk-row-padding:after,.zk-row-padding:before,
.zk-cell-row:before,.zk-cell-row:after,.zk-clear:after,.zk-clear:before,.zk-bar:before,.zk-bar:after{content:"";display:table;clear:both}
.zk-col,.zk-half,.zk-third,.zk-twothird,.zk-threequarter,.zk-quarter{float:left;width:100%}
.zk-col.s1{width:8.33333%}.zk-col.s2{width:16.66666%}.zk-col.s3{width:24.99999%}.zk-col.s4{width:33.33333%}
.zk-col.s5{width:41.66666%}.zk-col.s6{width:49.99999%}.zk-col.s7{width:58.33333%}.zk-col.s8{width:66.66666%}
.zk-col.s9{width:74.99999%}.zk-col.s10{width:83.33333%}.zk-col.s11{width:91.66666%}.zk-col.s12{width:99.99999%}
@media (min-width:601px){.zk-col.m1{width:8.33333%}.zk-col.m2{width:16.66666%}.zk-col.m3,.zk-quarter{width:24.99999%}.zk-col.m4,.zk-third{width:33.33333%}
.zk-col.m5{width:41.66666%}.zk-col.m6,.zk-half{width:49.99999%}.zk-col.m7{width:58.33333%}.zk-col.m8,.zk-twothird{width:66.66666%}
.zk-col.m9,.zk-threequarter{width:74.99999%}.zk-col.m10{width:83.33333%}.zk-col.m11{width:91.66666%}.zk-col.m12{width:99.99999%}}
@media (min-width:993px){.zk-col.l1{width:8.33333%}.zk-col.l2{width:16.66666%}.zk-col.l3{width:24.99999%}.zk-col.l4{width:33.33333%}
.zk-col.l5{width:41.66666%}.zk-col.l6{width:49.99999%}.zk-col.l7{width:58.33333%}.zk-col.l8{width:66.66666%}
.zk-col.l9{width:74.99999%}.zk-col.l10{width:83.33333%}.zk-col.l11{width:91.66666%}.zk-col.l12{width:99.99999%}}
.zk-rest{overflow:hidden}.zk-stretch{margin-left:-16px;margin-right:-16px}
.zk-content,.zk-auto{margin-left:auto;margin-right:auto}.zk-content{max-width:980px}.zk-auto{max-width:1140px}
.zk-cell-row{display:table;width:100%}.zk-cell{display:table-cell}
.zk-cell-top{vertical-align:top}.zk-cell-middle{vertical-align:middle}.zk-cell-bottom{vertical-align:bottom}
.zk-hide{display:none!important}.zk-show-block,.zk-show{display:block!important}.zk-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.zk-auto{max-width:95%}}
@media (max-width:600px){.zk-modal-content{margin:0 10px;width:auto!important}.zk-modal{padding-top:30px}
.zk-dropdown-hover.zk-mobile .zk-dropdown-content,.zk-dropdown-click.zk-mobile .zk-dropdown-content{position:relative}
.zk-hide-small{display:none!important}.zk-mobile{display:block;width:100%!important}.zk-bar-item.zk-mobile,.zk-dropdown-hover.zk-mobile,.zk-dropdown-click.zk-mobile{text-align:center}
.zk-dropdown-hover.zk-mobile,.zk-dropdown-hover.zk-mobile .zk-btn,.zk-dropdown-hover.zk-mobile .zk-button,.zk-dropdown-click.zk-mobile,.zk-dropdown-click.zk-mobile .zk-btn,.zk-dropdown-click.zk-mobile .zk-button{width:100%}}
@media (max-width:768px){.zk-modal-content{width:500px}.zk-modal{padding-top:50px}}
@media (min-width:993px){.zk-modal-content{width:900px}.zk-hide-large{display:none!important}.zk-sidebar.zk-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.zk-hide-medium{display:none!important}}
@media (max-width:992px){.zk-sidebar.zk-collapse{display:none}.zk-main{margin-left:0!important;margin-right:0!important}.zk-auto{max-width:100%}}
.zk-top,.zk-bottom{position:fixed;width:100%;z-index:1}.zk-top{top:0}.zk-bottom{bottom:0}
.zk-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.zk-display-topleft{position:absolute;left:0;top:0}.zk-display-topright{position:absolute;right:0;top:0}
.zk-display-bottomleft{position:absolute;left:0;bottom:0}.zk-display-bottomright{position:absolute;right:0;bottom:0}
.zk-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.zk-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.zk-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.zk-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.zk-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.zk-display-container:hover .zk-display-hover{display:block}.zk-display-container:hover span.zk-display-hover{display:inline-block}.zk-display-hover{display:none}
.zk-display-position{position:absolute}
.zk-circle{border-radius:50%}
.zk-round-small{border-radius:2px}.zk-round,.zk-round-medium{border-radius:4px}.zk-round-large{border-radius:8px}.zk-round-xlarge{border-radius:16px}.zk-round-xxlarge{border-radius:32px}
.zk-row-padding,.zk-row-padding>.zk-half,.zk-row-padding>.zk-third,.zk-row-padding>.zk-twothird,.zk-row-padding>.zk-threequarter,.zk-row-padding>.zk-quarter,.zk-row-padding>.zk-col{padding:0 8px}
.zk-container,.zk-panel{padding:0.01em 16px}.zk-panel{margin-top:16px;margin-bottom:16px}
.zk-code,.zk-codespan{font-family:Consolas,"courier new";font-size:16px}
.zk-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.zk-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.zk-card,.zk-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.zk-card-4,.zk-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.zk-spin{animation:zk-spin 2s infinite linear}@keyframes zk-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.zk-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.zk-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.zk-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.zk-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.zk-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.zk-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.zk-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.zk-animate-input{transition:width 0.4s ease-in-out}.zk-animate-input:focus{width:100%!important}
.zk-opacity,.zk-hover-opacity:hover{opacity:0.60}.zk-opacity-off,.zk-hover-opacity-off:hover{opacity:1}
.zk-opacity-max{opacity:0.25}.zk-opacity-min{opacity:0.75}
.zk-greyscale-max,.zk-grayscale-max,.zk-hover-greyscale:hover,.zk-hover-grayscale:hover{filter:grayscale(100%)}
.zk-greyscale,.zk-grayscale{filter:grayscale(75%)}.zk-greyscale-min,.zk-grayscale-min{filter:grayscale(50%)}
.zk-sepia{filter:sepia(75%)}.zk-sepia-max,.zk-hover-sepia:hover{filter:sepia(100%)}.zk-sepia-min{filter:sepia(50%)}
.zk-tiny{font-size:10px!important}.zk-small{font-size:12px!important}.zk-medium{font-size:15px!important}.zk-large{font-size:18px!important}
.zk-xlarge{font-size:24px!important}.zk-xxlarge{font-size:36px!important}.zk-xxxlarge{font-size:48px!important}.zk-jumbo{font-size:64px!important}
.zk-left-align{text-align:left!important}.zk-right-align{text-align:right!important}.zk-justify{text-align:justify!important}.zk-center{text-align:center!important}
.zk-border-0{border:0!important}.zk-border{border:1px solid #ccc!important}
.zk-border-top{border-top:1px solid #ccc!important}.zk-border-bottom{border-bottom:1px solid #ccc!important}
.zk-border-left{border-left:1px solid #ccc!important}.zk-border-right{border-right:1px solid #ccc!important}
.zk-topbar{border-top:6px solid #ccc!important}.zk-bottombar{border-bottom:6px solid #ccc!important}
.zk-leftbar{border-left:6px solid #ccc!important}.zk-rightbar{border-right:6px solid #ccc!important}
.zk-section,.zk-code{margin-top:16px!important;margin-bottom:16px!important}
.zk-margin{margin:16px!important}.zk-margin-top{margin-top:16px!important}.zk-margin-bottom{margin-bottom:16px!important}
.zk-margin-left{margin-left:16px!important}.zk-margin-right{margin-right:16px!important}
.zk-padding-small{padding:4px 8px!important}.zk-padding{padding:8px 16px!important}.zk-padding-large{padding:12px 24px!important}
.zk-padding-16{padding-top:16px!important;padding-bottom:16px!important}.zk-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.zk-padding-32{padding-top:32px!important;padding-bottom:32px!important}.zk-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.zk-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.zk-left{float:left!important}.zk-right{float:right!important}
.zk-button:hover{color:#000!important;background-color:#ccc!important}
.zk-transparent,.zk-hover-none:hover{background-color:transparent!important}
.zk-hover-none:hover{box-shadow:none!important}
/* Colors */
.zk-amber,.zk-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.zk-aqua,.zk-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.zk-blue,.zk-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.zk-light-blue,.zk-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.zk-brown,.zk-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.zk-cyan,.zk-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.zk-blue-grey,.zk-hover-blue-grey:hover,.zk-blue-gray,.zk-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.zk-green,.zk-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.zk-light-green,.zk-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.zk-indigo,.zk-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.zk-khaki,.zk-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.zk-lime,.zk-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.zk-orange,.zk-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.zk-deep-orange,.zk-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.zk-pink,.zk-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.zk-purple,.zk-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.zk-deep-purple,.zk-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.zk-red,.zk-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.zk-sand,.zk-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.zk-teal,.zk-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.zk-yellow,.zk-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.zk-white,.zk-hover-white:hover{color:#000!important;background-color:#fff!important}
.zk-nWhite,.zk-hover-nWhite:hover{color:#1c2020!important;background-color:#f6f6f6!important}
.zk-black,.zk-hover-black:hover{color:#fff!important;background-color:#000!important}
.zk-nBlack,.zk-hover-nBlack:hover{color:#f6f6f6!important;background-color:#1c2020!important}
.zk-grey,.zk-hover-grey:hover,.zk-gray,.zk-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.zk-light-grey,.zk-hover-light-grey:hover,.zk-light-gray,.zk-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.zk-dark-grey,.zk-hover-dark-grey:hover,.zk-dark-gray,.zk-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.zk-pale-red,.zk-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.zk-pale-green,.zk-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.zk-pale-yellow,.zk-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.zk-pale-blue,.zk-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.zk-text-amber,.zk-hover-text-amber:hover{color:#ffc107!important}
.zk-text-aqua,.zk-hover-text-aqua:hover{color:#00ffff!important}
.zk-text-blue,.zk-hover-text-blue:hover{color:#2196F3!important}
.zk-text-light-blue,.zk-hover-text-light-blue:hover{color:#87CEEB!important}
.zk-text-brown,.zk-hover-text-brown:hover{color:#795548!important}
.zk-text-cyan,.zk-hover-text-cyan:hover{color:#00bcd4!important}
.zk-text-blue-grey,.zk-hover-text-blue-grey:hover,.zk-text-blue-gray,.zk-hover-text-blue-gray:hover{color:#607d8b!important}
.zk-text-green,.zk-hover-text-green:hover{color:#4CAF50!important}
.zk-text-light-green,.zk-hover-text-light-green:hover{color:#8bc34a!important}
.zk-text-indigo,.zk-hover-text-indigo:hover{color:#3f51b5!important}
.zk-text-khaki,.zk-hover-text-khaki:hover{color:#b4aa50!important}
.zk-text-lime,.zk-hover-text-lime:hover{color:#cddc39!important}
.zk-text-orange,.zk-hover-text-orange:hover{color:#ff9800!important}
.zk-text-deep-orange,.zk-hover-text-deep-orange:hover{color:#ff5722!important}
.zk-text-pink,.zk-hover-text-pink:hover{color:#e91e63!important}
.zk-text-purple,.zk-hover-text-purple:hover{color:#9c27b0!important}
.zk-text-deep-purple,.zk-hover-text-deep-purple:hover{color:#673ab7!important}
.zk-text-red,.zk-hover-text-red:hover{color:#f44336!important}
.zk-text-sand,.zk-hover-text-sand:hover{color:#fdf5e6!important}
.zk-text-teal,.zk-hover-text-teal:hover{color:#009688!important}
.zk-text-yellow,.zk-hover-text-yellow:hover{color:#d2be0e!important}
.zk-text-white,.zk-hover-text-white:hover{color:#fff!important}
.zk-text-black,.zk-hover-text-black:hover{color:#000!important}
.zk-text-grey,.zk-hover-text-grey:hover,.zk-text-gray,.zk-hover-text-gray:hover{color:#757575!important}
.zk-text-light-grey,.zk-hover-text-light-grey:hover,.zk-text-light-gray,.zk-hover-text-light-gray:hover{color:#f1f1f1!important}
.zk-text-dark-grey,.zk-hover-text-dark-grey:hover,.zk-text-dark-gray,.zk-hover-text-dark-gray:hover{color:#3a3a3a!important}
.zk-border-amber,.zk-hover-border-amber:hover{border-color:#ffc107!important}
.zk-border-aqua,.zk-hover-border-aqua:hover{border-color:#00ffff!important}
.zk-border-blue,.zk-hover-border-blue:hover{border-color:#2196F3!important}
.zk-border-light-blue,.zk-hover-border-light-blue:hover{border-color:#87CEEB!important}
.zk-border-brown,.zk-hover-border-brown:hover{border-color:#795548!important}
.zk-border-cyan,.zk-hover-border-cyan:hover{border-color:#00bcd4!important}
.zk-border-blue-grey,.zk-hover-border-blue-grey:hover,.zk-border-blue-gray,.zk-hover-border-blue-gray:hover{border-color:#607d8b!important}
.zk-border-green,.zk-hover-border-green:hover{border-color:#4CAF50!important}
.zk-border-light-green,.zk-hover-border-light-green:hover{border-color:#8bc34a!important}
.zk-border-indigo,.zk-hover-border-indigo:hover{border-color:#3f51b5!important}
.zk-border-khaki,.zk-hover-border-khaki:hover{border-color:#f0e68c!important}
.zk-border-lime,.zk-hover-border-lime:hover{border-color:#cddc39!important}
.zk-border-orange,.zk-hover-border-orange:hover{border-color:#ff9800!important}
.zk-border-deep-orange,.zk-hover-border-deep-orange:hover{border-color:#ff5722!important}
.zk-border-pink,.zk-hover-border-pink:hover{border-color:#e91e63!important}
.zk-border-purple,.zk-hover-border-purple:hover{border-color:#9c27b0!important}
.zk-border-deep-purple,.zk-hover-border-deep-purple:hover{border-color:#673ab7!important}
.zk-border-red,.zk-hover-border-red:hover{border-color:#f44336!important}
.zk-border-sand,.zk-hover-border-sand:hover{border-color:#fdf5e6!important}
.zk-border-teal,.zk-hover-border-teal:hover{border-color:#009688!important}
.zk-border-yellow,.zk-hover-border-yellow:hover{border-color:#ffeb3b!important}
.zk-border-white,.zk-hover-border-white:hover{border-color:#fff!important}
.zk-border-black,.zk-hover-border-black:hover{border-color:#000!important}
.zk-border-grey,.zk-hover-border-grey:hover,.zk-border-gray,.zk-hover-border-gray:hover{border-color:#9e9e9e!important}
.zk-border-light-grey,.zk-hover-border-light-grey:hover,.zk-border-light-gray,.zk-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.zk-border-dark-grey,.zk-hover-border-dark-grey:hover,.zk-border-dark-gray,.zk-hover-border-dark-gray:hover{border-color:#616161!important}
.zk-border-pale-red,.zk-hover-border-pale-red:hover{border-color:#ffe7e7!important}.zk-border-pale-green,.zk-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.zk-border-pale-yellow,.zk-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.zk-border-pale-blue,.zk-hover-border-pale-blue:hover{border-color:#e7ffff!important}
/* Cursors */
.zk-alias {cursor: alias;}
.zk-all-scroll {cursor: all-scroll;}
.zk-auto {cursor: auto;}
.zk-cell {cursor: cell;}
.zk-context-menu {cursor: context-menu;}
.zk-col-resize {cursor: col-resize;}
.zk-copy {cursor: copy;}
.zk-crosshair {cursor: crosshair;}
.zk-default {cursor: default;}
.zk-e-resize {cursor: e-resize;}
.zk-ew-resize {cursor: ew-resize;}
.zk-grab {cursor: grab;}
.zk-grabbing {cursor: grabbing;}
.zk-help {cursor: help;}
.zk-move {cursor: move;}
.zk-n-resize {cursor: n-resize;}
.zk-ne-resize {cursor: ne-resize;}
.zk-nesw-resize {cursor: nesw-resize;}
.zk-ns-resize {cursor: ns-resize;}
.zk-nw-resize {cursor: nw-resize;}
.zk-nwse-resize {cursor: nwse-resize;}
.zk-no-drop {cursor: no-drop;}
.zk-none {cursor: none;}
.zk-not-allowed {cursor: not-allowed;}
.zk-pointer {cursor: pointer;}
.zk-progress {cursor: progress;}
.zk-row-resize {cursor: row-resize;}
.zk-s-resize {cursor: s-resize;}
.zk-se-resize {cursor: se-resize;}
.zk-sw-resize {cursor: sw-resize;}
.zk-text {cursor: text;}
.zk-url {cursor: url(myBall.cur),auto;}
.zk-w-resize {cursor: w-resize;}
.zk-wait {cursor: wait;}
.zk-zoom-in {cursor: zoom-in;}
.zk-zoom-out {cursor: zoom-out;}
.zk-noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.zk-btn-ninv{border: 2px solid #52be92; border-radius: 5px;}
.zk-btn-inv{border: 2px solid #52be92; border-radius: 5px; background-color:#52be92}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
