*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-contact {
	text-decoration: none;
  margin-top: auto;
  font-size: 14px;
  color: #888;
}

.profile-form-group {
  margin-bottom: 15px;
}

.profile-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.profile-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
  margin-bottom:16px;
}

.profile-form-control-dark{
  border-bottom: 1px solid #666;
  color: #ddd;
}

.profile-form-control-light{
  border-bottom: 1px solid #aaa;
  color: #333;
}

.profile-form-control-dark::placeholder {
  color: #666;
}

.profile-form-control-light::placeholder {
  color: #aaa;
}

.profile-form-control-dark:focus {
  border-bottom-color: #ddd;
}

.profile-form-control-light:focus {
  border-bottom-color: #333;
}

.profile-form-button {
  background: none;
  border: none;
  color: #ec407a;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.profile-form-button:hover {
  color: #b5004c;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .profile-title {
    flex-direction: row;
  }

  .profile-title span {
    margin-right: 12px;
  }

  .profile-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
